# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.iml

# Secrets / environment
.env
.env.*
!.env.example

# macOS
.DS_Store

# Windows
Thumbs.db
